.content{
    width: 80%;
    margin: auto;
}
th{
    font-size: 18px;
   
}


.content_image{
    /* display: flex; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    
  
    
}

